In [1]:
#DAy-5
s1={1,8,9,1,9,5,0,5}
print(s1)

{0, 1, 5, 8, 9}

In [3]:
#Union method
s1 = {1,2,3,4}
s2 = {3,4,5,6}

In [5]:
s1 | s2

{1, 2, 3, 4, 5, 6}

In [7]:
s1.union(s2)

{1, 2, 3, 4, 5, 6}

In [9]:
s1 = {1,2,3,}
s2 = {3,4,5,}

In [11]:
s1 & s2

{3}

In [13]:
s1.intersection(s2)

{3}

In [15]:
#difference of two sets
s1 = {2, 3, 5, 6, 7}
s2 = {5, 6, 7}

In [17]:
s1 - s2

{2, 3}

In [19]:
s2 - s1

set()

In [21]:
#symmetric difference
s1={1,2,3,4,5}
s2={4,5,6,7,8}

In [23]:
s1.symmetric_difference(s2)

{1, 2, 3, 6, 7, 8}

In [27]:
s2.symmetric_difference(s1)

{1, 2, 3, 6, 7, 8}

In [31]:
#Strings
str1 = "Welcome to aiml class"
print(str1)
str2 = "We started with python"
print(str2)
str3 = '''This is an awesome class'''
print(str3)

Welcome to aiml class
We started with python
This is an awesome class

In [33]:
print(type (str1))
print(type (str2))
print(type (str3))

<class 'str'>
<class 'str'>
<class 'str'>

In [41]:
str4 = '''He said, "It's awesome!"'''
str4

'He said, "It\'s awesome!"'

In [43]:
#Slicing in strings
print(str1)
str1[5:10]

Welcome to aiml class

'me to'

In [47]:
#Reversing of string
str1[::-1]

'ssalc lmia ot emocleW'

In [49]:
dir(str)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [51]:
#use of split()
print(str1)
str1.split()

Welcome to aiml class

['Welcome', 'to', 'aiml', 'class']

In [55]:
#Use of join() method 
reviews = ["The product is awesome", "Great Service"]
joined_string = ''.join(reviews)
joined_string

'The product is awesomeGreat Service'

In [57]:
#Use of strip() method
str5 = "   Hello, How are you?   "
str5

'   Hello, How are you?   '

In [59]:
str5.strip()

'Hello, How are you?'

In [65]:
##Industry usecase of sales data analysis, example1
# Example dictionary for product sales analysis
sales_data = {
    "ProductID": [101, 102, 103, 104, 105, 106, 107, 108, 109, 110],
    "ProductName": ["Laptop", "Mouse", "Keyboard", "Monitor", "Chair", "Desk", "Webcam", "Headphones", "Printer", "Tablet"],
    "Category": ["Electronics", "Accessories", "Accessories", "Electronics", "Furniture", "Furniture", "Electronics", "Accessories", "Electronics", "Electronics"],
    "PriceRange": ["High", "Low", "Low", "Medium", "Medium", "Medium", "Low", "Low", "Medium", "High"],
    "StockAvailable": [15, 100, 75, 20, 10, 8, 50, 60, 25, 12],
}

In [67]:
for k,v in sales_data.items():
    print(k,set(v), end =',')
    print('/n')

ProductID {101, 102, 103, 104, 105, 106, 107, 108, 109, 110},/n
ProductName {'Chair', 'Headphones', 'Laptop', 'Webcam', 'Keyboard', 'Monitor', 'Desk', 'Mouse', 'Tablet', 'Printer'},/n
Category {'Furniture', 'Electronics', 'Accessories'},/n
PriceRange {'Low', 'High', 'Medium'},/n
StockAvailable {100, 8, 10, 75, 12, 15, 50, 20, 25, 60},/n

In [69]:
# Original reviews dictionary
reviews = {
    "Review1": "The product quality is excellent and delivery was prompt. The product functionality is versatile",
    "Review2": "Good service but the packaging could have been better. The customer service has to improve",
    "Review3": "The product works fine, but the customer support is not very helpful. I rate the product as excellent",
}

# Result dictionary to store analysis of reviews
review_analysis = {}

# Process each review
for key, review in reviews.items():
    # Split the review into words
    words = review.lower().replace('.', '').replace(',', '').split()
    # Create a sub-dictionary with word count and unique words
    review_analysis[key] = {
        "WordCount": len(words),
        "UniqueWords": list(set(words))
    }

review_analysis

{'Review1': {'WordCount': 14,
  'UniqueWords': ['quality',
   'delivery',
   'versatile',
   'is',
   'prompt',
   'was',
   'and',
   'the',
   'product',
   'functionality',
   'excellent']},
 'Review2': {'WordCount': 15,
  'UniqueWords': ['improve',
   'has',
   'service',
   'good',
   'to',
   'better',
   'customer',
   'been',
   'have',
   'could',
   'packaging',
   'the',
   'but']},
 'Review3': {'WordCount': 18,
  'UniqueWords': ['as',
   'excellent',
   'not',
   'support',
   'works',
   'is',
   'customer',
   'fine',
   'rate',
   'i',
   'very',
   'helpful',
   'the',
   'product',
   'but']}}

In [71]:
d1 = {"Ram": 180, "Shyam":170,"Ramya":175}

In [73]:
for k in d1.keys():
    print(k)

Ram
Shyam
Ramya

In [75]:
for v in d1.values():
    print(v)

180
170
175

In [77]:
for k,v in d1.items():
    print(k,v)

Ram 180
Shyam 170
Ramya 175

In [79]:
d1["John"] = 165
d1

{'Ram': 180, 'Shyam': 170, 'Ramya': 175, 'John': 165}